# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: SSH deploy

on:
  push:
    branches:
    - be-dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VM_SSH_HOST }}
        username: ${{ secrets.VM_SSH_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          echo "Deployment process started"
          cd ./deploy/btp-dashboard
          git checkout be-dev && git pull
          pm2 stop ./packages/block-indexer/pm2.json
          pm2 stop ./packages/dashboard-api/pm2.json
          cd ./packages/block-indexer && yarn
          cd ../dashboard-api && yarn
          cd ../..
          pm2 start ./packages/block-indexer/pm2.json
          pm2 start ./packages/dashboard-api/pm2.json
          pm2 status
          pm2 save
          echo "Deployment process finished"
